---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSplit from "../components/HeroSplit.astro";
import Second from "../components/Second.astro";
---

<Layout
  title="Pet Platform | Adoption & Lost and Found"
  description="Find pets for adoption or help reunite lost and found pets in your community."
>
  <Header />
  <main>
    <HeroSplit />
  </main>
</Layout>
