<header class="content-shell py-6" aria-label="Main header">
  <div
    class="border border-border-medium rounded-3xl bg-surface flex items-center justify-between gap-4 px-5 py-4 lg:px-6 lg:py-4"
  >
    <div></div>

    <nav
      class="text-muted hidden items-center gap-5 text-sm font-medium lg:flex"
      aria-label="Main navigation"
    >
      <a class="no-underline" href="#">Home</a>
      <a class="no-underline" href="#">Adoption</a>
      <a class="no-underline" href="#">Lost &amp; Found</a>
      <a class="no-underline" href="#">How it works</a>
      <a class="no-underline" href="#">About Us</a>
    </nav>

    <div></div>
    <!-- <div class="flex items-center gap-3">
      <a class="pill-link px-3 py-2 text-sm" href="#">Sign in</a>
      <a
        class="pill-link bg-green-main border px-4 py-2.5 text-sm"
        href="#"
        style="border-color: transparent;"
      >
        Join Community
      </a>
    </div> -->
  </div>
</header>
